:root {
  font: 400 16px/1.5 'Helvetica Neue', 'Helvetica', sans-serif;

  color: #222;
  background: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

header {
  display: flex;
  margin: 1rem 0;
}

a {
  position: relative;
  display: inline-block;
  color: inherit;
  text-decoration: none;

  padding: 0.25rem 1rem;
}

a + a {
  border-left: 1px solid #ddd;
}

a.active {
  background: #f6f6f6;
}
